<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="flex min-h-screen bg-white dark:bg-gray-800">
      <div class='mt-28'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
